<nav class="">
    <h2 class="h2" style="display: flexbox;">

        <button class="copy-btn btn btn-primary btn-sm " id="copy-btn">
            Copy Open Link
        </button>
       
        <input type="text" style="display: none;" name="" id="copy-value" value="localhost:3000/open/<%= user.id %>">

        <a href="/" style="width: max-content; text-align: center;"> <span class="site-logo"><img src="/imgs/fynoutt_rm.png" alt=""></span> </a>
       
        <button class="btn btn-primary btn-sm logout" id="logout-modal-btn">
            logout
        </button>
    </h2>
  <!-- <form class="form-inline my-1">
    <div class="md-form form-sm my-0">
      <input class="form-control form-control-sm mr-sm-2 mb-0 home-search" type="search" placeholder="#Hashtags"
        aria-label="Search">
    </div>
    <button class="btn btn-outline-white btn-sm my-0 search-btn" type="submit">Search</button>
  </form> -->
  <!-- <span class="home"><a href="/">home</a></span> -->
</nav>
