<nav class="">
    <h2 class="h2">


        <a href="/"> <span class="site-logo"><img src="/imgs/fynoutt_rm.png" alt=""></span> </a>

    </h2>
  <!-- <form class="form-inline my-1">
    <div class="md-form form-sm my-0">
      <input class="form-control form-control-sm mr-sm-2 mb-0 home-search" type="search" placeholder="#Hashtags"
        aria-label="Search">
    </div>
    <button class="btn btn-outline-white btn-sm my-0 search-btn" type="submit">Search</button>
  </form> -->
  <!-- <span class="home"><a href="/">home</a></span> -->
</nav>
